# Pandas Series

-> 1-D labelled array
-> Hold any data type (like col in microsoft excel workbook)
-> only 1 obj reqd to address any val in a series 
-> by default while creating series from list data type, indexing starts from 0
-> while creating list from dictionary, the keys become the indices and their subsequent val.s become the data objects

NOTE: to open documentation from ipynb itself, put type cursor on attribute (ex: s1.sorted) and press shift+tab

# Create Series - I

In [1]:
import pandas as pd

In [2]:
lst = [2,1,4,3,6,5]

#pd.Series(para_list)
pd.Series(lst)

0    2
1    1
2    4
3    3
4    6
5    5
dtype: int64

In [3]:
lst_bool = [True, False, True, False]
pd.Series(lst_bool)

0     True
1    False
2     True
3    False
dtype: bool

In [9]:
lst_mix_dtype = ['String', True, 69, 69.96]
#creating a series of various dtypes is ossible but not recommended
#series are mostly preferred tobe homogeneous in nature 
#so that you can perform (ex mathematical) functionalities on top of it

var = pd.Series(lst_mix_dtype)
print(var)
print(type(var))

0    String
1      True
2        69
3     69.96
dtype: object
<class 'pandas.core.series.Series'>

In [13]:
#Constant Series
#pd.Series(const_val, index = [indices]) 
#returns const_val at given/passed indices

print(pd.Series(5, index = [0]))   
print(pd.Series(5, index = [0,1,2,3,4]))

0    5
dtype: int64
0    5
1    5
2    5
3    5
4    5
dtype: int64

In [16]:
#Series support List Comprehension

pd.Series([num*10 for num in range(10)])

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [20]:
phonebook = {'Bruce': '9424151149',
               'Clark': '7024872912',
               'Diana': '9691839190'}

pd.Series(phonebook)

Bruce    9424151149
Clark    7024872912
Diana    9691839190
dtype: object

# Create Series II

pd.read_csv('filename/file path') to load csv file as DataFrame
<br>pd.read_csv('filename/file path', squeeze = True) to load csv fiel in 1 col i.e  as Sers
<br>pd.read_csv('filename/file path',header = None/specify, squeeze = True) for choosing on header if csv #file's 1st row is not header
<br>pd.read_csv('filename/file path', usecols = ['colname']) for loading data from specified col from multi-ciol csv file

pd.read_csv('practice_csv_file_1_col_only.csv')

In [28]:
pd.read_csv('practice_csv_file_1_col_only.csv', header = None)

          0       1
0    header  header
1         0    zero
2         1     one
3         2     two
4         3   three
5         4    four
6         5    five
7         6     six
8         7   seven
9         8   eight
10        9    nine
11       10     ten

In [31]:
s = pd.read_csv('sample_csv_file_mult_rows.csv', usecols= ['Industry_code_NZSIOC']).head(10)

type(s)
#it is a DataFrame bc we didn't squeeze it

pandas.core.frame.DataFrame

In [33]:
s = pd.read_csv('sample_csv_file_mult_rows.csv',squeeze = True, usecols= ['Industry_code_NZSIOC']).head(10)

type(s)

pandas.core.series.Series

In [35]:
s.head(10)

0    99999
1    99999
2    99999
3    99999
4    99999
5    99999
6    99999
7    99999
8    99999
9    99999
Name: Industry_code_NZSIOC, dtype: object

# Series Attributes and Methods

In [39]:
s1 = pd.read_csv('titanic_dataset.csv', squeeze =  True, usecols = ['fare']).head(20)

In [44]:
print(s1)
#NOTE: s1.anything without(para) is an attribute not a method

0      7.2500
1     71.2833
2      7.9250
3     53.1000
4      8.0500
5      8.4583
6     51.8625
7     21.0750
8     11.1333
9     30.0708
10    16.7000
11    26.5500
12     8.0500
13    31.2750
14     7.8542
15    16.0000
16    29.1250
17    13.0000
18    18.0000
19     7.2250
Name: fare, dtype: float64

In [51]:
#indices
s1.index

RangeIndex(start=0, stop=20, step=1)

In [52]:
#values in series
s1.values

array([ 7.25  , 71.2833,  7.925 , 53.1   ,  8.05  ,  8.4583, 51.8625,
       21.075 , 11.1333, 30.0708, 16.7   , 26.55  ,  8.05  , 31.275 ,
        7.8542, 16.    , 29.125 , 13.    , 18.    ,  7.225 ])

In [53]:
#dimension f series
s1.dtype

dtype('float64')

In [54]:
s1.ndim

1

In [55]:
#size of series
s1.size

20

In [50]:
#are all el.s in series unique
s1.is_unique

False

In [61]:
#adding prefix or suffix to indices
pre = s1.add_prefix('Cheque_No ')
suf = s1.add_suffix('LA ')
print(pre)
print(suf)

Cheque_No 0      7.2500
Cheque_No 1     71.2833
Cheque_No 2      7.9250
Cheque_No 3     53.1000
Cheque_No 4      8.0500
Cheque_No 5      8.4583
Cheque_No 6     51.8625
Cheque_No 7     21.0750
Cheque_No 8     11.1333
Cheque_No 9     30.0708
Cheque_No 10    16.7000
Cheque_No 11    26.5500
Cheque_No 12     8.0500
Cheque_No 13    31.2750
Cheque_No 14     7.8542
Cheque_No 15    16.0000
Cheque_No 16    29.1250
Cheque_No 17    13.0000
Cheque_No 18    18.0000
Cheque_No 19     7.2250
Name: fare, dtype: float64
0LA       7.2500
1LA      71.2833
2LA       7.9250
3LA      53.1000
4LA       8.0500
5LA       8.4583
6LA      51.8625
7LA      21.0750
8LA      11.1333
9LA      30.0708
10LA     16.7000
11LA     26.5500
12LA      8.0500
13LA     31.2750
14LA      7.8542
15LA     16.0000
16LA     29.1250
17LA     13.0000
18LA     18.0000
19LA      7.2250
Name: fare, dtype: float64

In [66]:
#Mathematical operations on Series objects

print(s1.sum())          #sum of all el.s
print(s1.idxmax())       #index at which fare(val) is max
print(max(s1))           #max val in series
print(s1.mean())         #mean
print(s1.mean())         #mean of val.s
print(s1.std())          #standard deviation

443.9874
1
71.2833

In [68]:
s1.describe()            #for float or int dtype this describes most of the standard stastical calc.s

count    20.000000
mean     22.199370
std      18.058888
min       7.225000
25%       8.050000
50%      16.350000
75%      29.361450
max      71.283300
Name: fare, dtype: float64

# Label Indexing

Label indexing HERE (in series) means giving index col some fancy labels instead of default int starting from 0
<br>i.e. Custom Label Indexing

In [82]:
Avg_Temp = [22,24,26,28,30,36,34,33,31,27,24,18]
Month = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept',
       'Oct', 'Nov', 'Dec']

In [83]:
avg_temp = pd.Series(Avg_Temp)

In [84]:
avg_temp = pd.Series(data = Avg_Temp, index = Month)
print(avg_temp)

Jan      22
Feb      24
March    26
April    28
May      30
June     36
July     34
Aug      33
Sept     31
Oct      27
Nov      24
Dec      18
dtype: int64

In [85]:
avg_temp = pd.Series(Avg_Temp, index = Month)
print(avg_temp)

Jan      22
Feb      24
March    26
April    28
May      30
June     36
July     34
Aug      33
Sept     31
Oct      27
Nov      24
Dec      18
dtype: int64

In [86]:
avg_temp.index
#output shows indices as specified by us

Index(['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept',
       'Oct', 'Nov', 'Dec'],
      dtype='object')

# Sorting and Inplace Parameter

In [87]:
Avg_Temp = [22,24,26,28,30,36,34,33,31,27,24,18]
Month = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept',
       'Oct', 'Nov', 'Dec']
s1 = pd.Series(Avg_Temp, index = Month)

In [88]:
s1

Jan      22
Feb      24
March    26
April    28
May      30
June     36
July     34
Aug      33
Sept     31
Oct      27
Nov      24
Dec      18
dtype: int64

In [97]:
#seriesobj.sort_values( )to sort a series)
#seriesobj.sort_values( ascending = False) to sort a series in Descending order

In [89]:
s1.sort_values()

Dec      18
Jan      22
Feb      24
Nov      24
March    26
Oct      27
April    28
May      30
Sept     31
Aug      33
July     34
June     36
dtype: int64

In [90]:
 s1.sort_values(ascending = False)

June     36
July     34
Aug      33
Sept     31
May      30
April    28
Oct      27
March    26
Feb      24
Nov      24
Jan      22
Dec      18
dtype: int64

In [91]:
s1

Jan      22
Feb      24
March    26
April    28
May      30
June     36
July     34
Aug      33
Sept     31
Oct      27
Nov      24
Dec      18
dtype: int64

In Pandas by default inplace value is False
<br>i.e. whatever changes are made to anything are not saved to the og Series/Dataframe
<br>rather a new Series/DataFrame is returned with the new changes made in them 
<br>and the og ones are left untouched as seen above
<br>
<br>to save the changes in og Series/DataFrame, we can do 
<br>
<br>s1 = s1.changes           or       
<br>set inplace = True as shown below

In [95]:
s1.sort_values(inplace = True)
print(s1)

Dec      18
Jan      22
Feb      24
Nov      24
March    26
Oct      27
April    28
May      30
Sept     31
Aug      33
July     34
June     36
dtype: int64

In [96]:
s1.index

Index(['Dec', 'Jan', 'Feb', 'Nov', 'March', 'Oct', 'April', 'May', 'Sept',
       'Aug', 'July', 'June'],
      dtype='object')

In [ ]:
#seriesobj.sort_index()  to sort Series Index wise

In [100]:
s1.sort_index(ascending= False, inplace = True)

In [101]:
s1.index

Index(['Sept', 'Oct', 'Nov', 'May', 'March', 'June', 'July', 'Jan', 'Feb',
       'Dec', 'Aug', 'April'],
      dtype='object')

# Counting values in Series

In [123]:
s = pd.Series(['Male','Female','Male','Male','Female','Male','Female','Male','Male','Female','Female','Female','Male','Male','Female','Male','Male','Male','Male','Female',
              'Female'])

In [124]:
s

0       Male
1     Female
2       Male
3       Male
4     Female
5       Male
6     Female
7       Male
8       Male
9     Female
10    Female
11    Female
12      Male
13      Male
14    Female
15      Male
16      Male
17      Male
18      Male
19    Female
20    Female
dtype: object

In [129]:
s.nunique()                  #seriesobj.nunique() returns no of unique el.s in Series

2

In [130]:
s.value_counts()            #seriesobj.value_counts() returns no of occurences of each val

Male      12
Female     9
dtype: int64

# Applying Python in-built functionson Series

In [102]:
Avg_Temp = [22,24,26,28,30,36,34,33,31,27,24,18]
Month = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept',
       'Oct', 'Nov', 'Dec']
s1 = pd.Series(Avg_Temp, index = Month)

In [104]:
print('Length:',len(s1))
print('Type:',type(s1))
print('Dictionary:',dict(s1))
print('Sorted:',sorted(s1))
print('Max value:',max(s1))
print('Min value:',min(s1))

Length: 12
Type: <class 'pandas.core.series.Series'>
Dictionary: {'Jan': 22, 'Feb': 24, 'March': 26, 'April': 28, 'May': 30, 'June': 36, 'July': 34, 'Aug': 33, 'Sept': 31, 'Oct': 27, 'Nov': 24, 'Dec': 18}
Sorted: [18, 22, 24, 24, 26, 27, 28, 30, 31, 33, 34, 36]
Max value: 36
Min value: 18

# Extract value from Series

Values from series can be extracted using indices. 
Indices can be either

1.starting from 0 as default seriesobj[13]
OR
2.label indices seriesobj['customized label']

as shown below

In [108]:
Avg_Temp = [22,24,26,28,30,36,34,33,31,27,24,18]
Month = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept',
       'Oct', 'Nov', 'Dec']
s1 = pd.Series(Avg_Temp,Month)

In [110]:
s1[3]

28

In [111]:
s1[[2,3,5]]

March    26
April    28
June     36
dtype: int64

In [112]:
s1[0:6]

Jan      22
Feb      24
March    26
April    28
May      30
June     36
dtype: int64

In [117]:
s1[-5:-2]

Aug     33
Sept    31
Oct     27
dtype: int64

In [118]:
s1['Jan':'Aug']

Jan      22
Feb      24
March    26
April    28
May      30
June     36
July     34
Aug      33
dtype: int64

In [122]:
s1[['Jan', 'Aug', 'Feb', 'Dec']]

Jan    22
Aug    33
Feb    24
Dec    18
dtype: int64

# .apply() and .map() method

.apply() and .map() are used to transform series objects)

In [131]:
s1

Jan      22
Feb      24
March    26
April    28
May      30
June     36
July     34
Aug      33
Sept     31
Oct      27
Nov      24
Dec      18
dtype: int64

In [140]:
#say we want to convert temp from celsius to fahrenheit
def conv(Temp):
    return Temp * 1.8 + 32

In [142]:
#s1.apply(function) to apply that function to every el in series

s2 = s1.apply(conv)
print(s2)

Jan      71.6
Feb      75.2
March    78.8
April    82.4
May      86.0
June     96.8
July     93.2
Aug      91.4
Sept     87.8
Oct      80.6
Nov      75.2
Dec      64.4
dtype: float64

In [144]:
#s1.map({key:value}) changes all el.s w val.s 'key' in series to 'value'

d = { 33: 300, 22: 200, 30: 432, 36: 69}
s3 = s1.map(d)
print(s3)

Jan      200.0
Feb        NaN
March      NaN
April      NaN
May      432.0
June      69.0
July       NaN
Aug      300.0
Sept       NaN
Oct        NaN
Nov        NaN
Dec        NaN
dtype: float64